
<div class="centered be-procargaimg" style="width:100%; height:100%;"> 
<br><br>
	<center>

		<img src="/assets/logoapp.png" style="width: 30%; height: 30%"  class="animated fadeIn">
		<div class="animated fadeInUpBig">


			<h2  class="shadowtextcarga">Logística y transporte.</h2>
			<H3 class="shadowtextcarga">Bienvenido a la plataforma web
				con la cual podra acelerar
				sus procesos logisticos.</H3>

				<button type="button" class="button-proca">Empezar</button>

			</div>

		</div>
	</center>